.wrapper {
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 grey;
    background-color: white;
  }
  
  .wrapper:hover {
    background-color: lightgray;
  }
  
  .image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  .contentContainer {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  .nameText {
    color: rgb(87, 97, 100);
    font-weight: bold;
    font-size: 16px;
  }
  .commentText {
    color: black;
    font-size: 16px;
  }